<body onload="start()">
  <div class="background-profile background-general">
    <div class="content-adapt">
      <div class="container-profile">
        <a href="/auth/picture"><img class="profile" src="{{user.imgPath}}" alt="{{user.imgName}}"></a>
        <div class="data-container">
          <h2> {{user.name}} </h2>
          <h4>Username: {{user.username}}</h4>
          <div class="data-profile">
            <h3>Email: {{user.email}}</h3>
            <h3>Phone: {{user.phone}}</h3>
            <h3 id="address">Address: {{user.address}}</h3>
            <form action="../auth/{{user.id}}/edit" method="GET">
              <button onclick="Submit" class="btn-update">Edit your data</button>
            </form>
          </div>
        </div>
        <div id="map">

        </div>
      </div>
    </div>
  </div>

  <script>
    var geocoder;
    var map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng();
      var mapOptions = {
        zoom: 14,
        center: { lat: 40.4165000, lng: -3.7025600 },
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);

    }

    function codeAddress() {
      var address = document.getElementById('address').innerText;
      geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    function start() {
      initialize()
      codeAddress()
    }

  </script>
</body>