<header>
  
</header>


<div class="searchResults">

  <div class="product">
    <h3 id="bookResultTitle"> {{book.title}}</h3>
    ISBN: {{book.isbn}}<br>
    Author: {{book.author}}<br>
    Description: <br>
    <p clas="desc">{{book.description}}</p>

  </div>

  <img class="bookImg"src="{{book.image}}" alt="cover">


</div>
