<header>
  <h2 id="bookResultTitle"> {{book.title}}</h2>
</header>

<div class="searchResults">

  <div>
    ISBN: {{book.isbn}}<br>
    Author: {{book.author}}<br>
    Description: <br>
    <p style="max-width: 400px">{{book.description}}</p>

  </div>

  <img src="{{book.image}}" alt="cover">

</div>