<header>
</header>


<div class="searchResults">

  <div class="bookInfo">
    <div class="bookInfoCard-left ">

      <img src="{{book.image}}" alt="image">

    </div>
    <div class="bookInfoCard-right">
      <h4> {{book.title}}</h4>
      ISBN: {{book.isbn}}
      Author: {{book.author}}
      {{book.id}}

      <p class="description-paraf">{{book.description}}</p>
      <form action="/postBook" method="POST"> 
        <input type="text" style="display: none" value="{{book.id}}" name="bookId" id="">
        <input type="submit" class="btnBookInfo" value="Select" />
      </form>
    </div>



  </div>