<header>
</header>


<div class="searchResults">

  <div class="bookInfo">
    <div class="bookInfoCard-left ">
      
      <img src="{{book.image}}" alt="image">

    </div>
    <div class="bookInfoCard-right">
      <h4> {{book.title}}</h4>
      ISBN: {{book.isbn}}
      Author: {{book.author}}
     
      <p class="description-paraf">{{book.description}}</p>
    </div>
    


  </div>




</div>