<header>
  <h2>All posts ({{yourPosts.length}})</h2>
</header>

<div class="postWraper">

  <div class="postListContainer">
    {{#each yourPosts}}
    <div class="postList">

      {{this.title}}<br>
      Category: {{this.type}}<br>
      Price: {{this.price}} <br>
      <p style="max-width: 400px">{{this.description}}</p>
      {{!-- <label for="author">{{this.author}}</label> --}}
      <br>

      {{#if owns}}
      <a href="/post/edit?post_id={{this._id}}" class="edit-button">EDIT</a>
      {{/if}}

    </div>
    {{/each}}
  </div>
</div>