<header>
  <h2>All posts ({{yourPosts.length}})</h2>
</header>

<div class="postWraper">
  <div class="postListContainer">
    {{#each yourPosts}}
    <div class="postList">

      {{this.title}}<br>
      Category: {{this.type}}<br>
      Price: {{this.price}} <br>
      <p style="max-width: 400px">{{this.description}}</p>
      {{!-- <a href="prueba">Edit</a> --}}
      {{!-- <label for="author">{{this.author}}</label> --}}
      {{!-- id: {{this.idUser}}--}}
      User: <a href='../auth/user/{{this.author}}'>{{this.author}}</a> 
      <br>
      {{#is this.edit true}}
        <a href="/post/edit?post_id={{this._id}}" class="edit-button">Edit</a>
        <a href="delete">Delete</a>
      {{/is}}

    </div>
    {{/each}}
  </div>
</div>