<header>
  <h2 style="text-align: center; margin-top:20px">All posts ({{yourPosts.length}})</h2>
</header>

<div class="postWraper">
  <div class="postListContainer">
    {{#each yourPosts}}
    <div class="postList">


      <h6>
        {{this.title}}
      </h6>
      <strong>Category: {{this.type}}</strong>
      <br>
      <strong>Price: {{this.price}} </strong>
      <div class="postListDescription">
        <p  style="max-width: 400px">{{this.description}}</p>
      </div>
      {{#is this.edit true}}
      <form class="postListForm" action="/post/edit/{{this.id}}" method="POST">
        <button class="contactUserBtn">Edit</button> 
      </form>
      <form class="postListForm" action="/delete/{{this.id}}" method="POST">
        <button class="contactUserBtn" >Delete</button>
        </form>
      {{/is}}

      {{#isnt this.edit true}}
        <button class="contactUserBtn" onclick="location.href='../auth/user/{{this.author}}'">Contact user</button>
      {{/isnt}}
      
    </div>
    {{/each}}
  </div>
</div>
